<!-- <div class="eastsideTitle">
<div>
  {{eastside.message}}
  <!{{seward.coopArray}} -->
  <!-- <div class="displayEastside">
  <div ng-repeat="item in eastside.coopArray">
    <br>PLU: {{item.product_id_plu}}
    <br>  Name: {{item.product_name}}
    <div class="button">
    <button ng-click="eastside.addToUserCupboard(item)" class="eastsideClass" >Add to my Cupboard</button>
  </div>
  </div>
</div>
</div>
</div>
</div>  -->

<div class="eastsideTitle">
  <table class = "table">
  <!-- <div class="displayEastside"> -->
  <thead>
      <th>PLU Number </th>
      <th> Spice Name </th>
      <th> Add to your cupboard?</th>
  </thead>
  <tbody>
    <tr ng-repeat="item in eastside.coopArray">
        <td>{{item.product_id_plu}}</td>
        <td> {{item.product_name}}</td>
        <td><button ng-click="eastside.addToUserCupboard(item)" class="btn btn-custom btn-xs">Add</button></td>
      </tr>
    </tbody>
  </div>
  </table>

<!-- </div> -->
