<!-- <div class="userCupboard">{{user.name}}</div>
  <div ng-repeat="item in user.data.cupboardContentsArray">
    Product PLU Number: {{item.product_id_plu}}
    Product Name: {{item.product_name}}
<div>
    <button ng-click="user.deleteItem(item)" class="deleteB">I labeled it!</button>
  </div>
</div> -->


<div class="userCupboard">{{user.name}}</div>
  <table class = "table">
  <!-- <div class="displayEastside"> -->
  <thead>
      <th>PLU Number </th>
      <th> Spice Name </th>
  </thead>
  <tbody>
    <tr ng-repeat="item in user.data.cupboardContentsArray">
        <td>{{item.product_id_plu}}</td>
        <td> {{item.product_name}}</td>
        <td><button ng-click="user.deleteItem(item)" class="deleteB">Labeled!</button></td>
      </tr>
    </tbody>
  </div>
  </table>
